:root {
  --primary: #b89685;
  --primary-010: #9a7764;

  --secondary: #06628a;
  --secondary-010: #06374e;

  --white: #fff;

  --dark-brown: #504746;
  --dark-brown-010: #5a4e4d;

  --grey: #9b9ba0;
}
